body {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  /*background: rgb(43, 48, 59);*/
  /*color: #F7F7F7;*/

  padding: 60px 100px;
}

h1, h2 {
}

section {
  margin-bottom: 80px;
}